body {
    background: linear-gradient(-20deg, #292828, #be5869);
    top: 0;
    bottom: 0;
}

.sidebar {
    height: 100vh;
    background: #333;
    color: #fff;
    padding-top: 20px;
}

.sidebar a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}